.articlesList {
  max-width: 500px;
  list-style: none;
  margin: 0 auto;
  text-align: left;
}

.articlesList li {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px
}

.articlesList img{
  max-width: 100%;
  margin: 0 auto;
}
